<section>
<div id="aboutUs" class="container-fluid"  dir="ltr">
    <div class="row" *ngIf="about || why">
        <div class="col-md-6 aboutUs">
            <div class="h-100 d-flex text-center align-items-center justify-content-center">
                <div>
                    <h1 class="headOfSerction">ABOUT US</h1>
                    <h2 class="mt-3 h2-font">{{about.title}}</h2>
                    <h3 data-aos="slide-right" data-aos-duration="1400" class="h2-font h2-hight">{{about.description}}</h3>
                    <h4 class="mt-3 h2-font">{{why.title}}</h4>
                    <h5 data-aos="slide-right" data-aos-duration="2000" class="h2-font h2-hight">
                        {{why.description}}
                    </h5>
                    <img [src]="getImgPath(about.logo)" alt="about image" class="aboutUs-logo">
                </div>
            </div>

        </div>
        <div class="col-md-6 aboutUs-img">
            <img data-aos="slide-left" data-aos-duration="1500" [src]="getImgPath(about.image)" alt="about image" 
                class="w-100 h-100">
        </div>
    </div>
</div>
</section>